@model List<LogModel>

@{
    ViewData["Title"] = "Log Info";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 2px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>
</head>

<body>
    <div style="width: 100%;">
        <h2>Log de usuário</h2>
        <form method="get">
            <hr>
            <table style="width:50%">
                <tr>
                    <th>
                        Usuário
                    </th>
                    <th></th>
                    <th>
                        Detalhes
                    </th>
                    <th>
                        Data
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.UserId
                        </td>
                        <td>
                        <td>
                            @item.Details
                        </td>
                        <td>
                            @item.Date
                        </td>
                    </tr>

                }

            </table>


        </form>
        <br>
        <a href="Options">Voltar</a>

    </div>
</body>
</html>
