
@{
    ViewData["Title"] = "Options";
}


<!DOCTYPE html>
<html>
<head>
    <style>
        button {
            box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), 0 2px 3px 0 rgba(0,0,0,0.19);
            border: none;
            padding: 3px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            cursor: pointer;
            background-color: #e7e7e7;
            color: black;
            border-radius: 3px;
            border: 0.5px solid #8c8c8c;
        }
    </style>
</head>

<body>
    <div style="width: 100%;">
        <form method="get">
            <h3>Bem-vindo, seu saldo é de R$ @ViewData["Saldo"]</h3>
            <hr>
            <h4>Selecione uma opção:</h4>
            <a href="Withdraw">Efetuar saque</a> <br>
            <a href="Deposit">Efetuar depósito</a> <br>
            <a href="LogInfo">Ver log</a> <br>
            <a href="LogOut">Sair</a> 
        </form>

    </div>
</body>
</html>
